a {
  color:black;
  text-decoration: none;
}
#active{
  color:red;
}
.saw {
  color:gray;
}
h1{
  background-image:url('back1.PNG');
  background-size: 25%;
  font-size:45px;
  text-align: center;
  border-bottom:1px solid gray;
  margin:0px;
  padding:150px;
}
#jak{
  border-bottom:1px solid gray;
  border-top:1px solid gray
}
#grid{
  border:5px soild gray;
  display:grid;
  grid-template-columns:1fr 1fr;
}
@media(max-width:800px){
  #grid{
    display: bloack;
  }
  div{
    border:none;
  }
}
#sin{
  text-align:center;
  padding:5px;
  margin-bottom:10px;
}
div{
  border:1px solid gray;
}
