#header{ text-align: center;}
.nav-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: beige;
    list-style-type: none;
}

.nav-item{
    padding: 15px;
    cursor: pointer;
}

.nav-item a{
    text-align: center;
    text-decoration: none;
    color: black;
}
.nav-item:hover{
    background-color: grey;
}
#grid{
    display:grid;
    grid-template-columns: 150px 1fr;
    border-top: 1px solid gray;
}
#mainwords{ border-left: 1px solid gray; padding-left: 10px;}
@media(max-width:800px){#grid{ display: block; border-top: none;}#mainwords{ border-left: none;padding-left: 0px;}}
#mainwords h3{ border-bottom: 1px dotted gray;margin-bottom: 10px;}
#mainwords img{width:720px;height: 300px;}
.logo{width:240;height: 25px;}




